################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/XML/.vs/XML/v16/Server/sqlite3/db.lock
XML/.vs/XML/v16/Server/sqlite3/storage.ide
XML/.vs/XML/v16/.suo
XML/.vs/XML/v16/Server/sqlite3/storage.ide-shm
XML/.vs/XML/v16/Server/sqlite3/storage.ide-wal
